@import 'tailwindcss';

/* Regular | Roman Font */
@font-face {
  font-family: 'Haas Grotesk';
  font-display: swap;
  src: url('./fonts/NeueHaasGrotDisp-55Roman-Trial.otf');
}

:root {
  --bg-dark: #080808;
  --text-dark: #fafafa;
  --bg-light: #fafafa;
  --text-light: #080808;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  @apply transition-colors duration-300;
}

/* .dark body {
  background-color: var(--bg-light);
  color: var(--text-light);
} */

@media (min-width: 1024px) {
  body {
    cursor: none;
  }
}
