@import 'tailwindcss';

/* Regular | Roman Font */
@font-face {
  font-family: 'Haas Grotesk';
  font-display: swap;
  src: url('./fonts/NeueHaasGrotDisp-55Roman-Trial.otf');
}

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  /* Azure/blue */
  --color-azurePrimary-50: #e6f2ff;
  --color-azurePrimary-100: #b0d7ff;
  --color-azurePrimary-200: #8ac4ff;
  --color-azurePrimary-300: #54a9ff;
  --color-azurePrimary-400: #3399ff;
  --color-azurePrimary-500: #007fff;
  --color-azurePrimary-600: #0074e8;
  --color-azurePrimary-700: #005ab5;
  --color-azurePrimary-800: #00468c;
  --color-azurePrimary-900: #00356b;

  --Haas-Grotesk: 'Haas Grotesk', sans-serif;
}

body {
  background-color: #080808;
  color: #ffffff;
  font-family: var(--Haas-Grotesk);
  /* cursor: none; */
}

#app {
  height: 100vh;
}

/* Custom cursor */
.custom_cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%); /* ⬅ centers the circle on mouse */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6px;
  /* opacity: 40%;
  filter: blur(10px); */
  /* mix-blend-difference */
}

/* @media (max-width: 1024) {
  .custom_cursor {
    display: none !important;
  }
} */

/* for dark mode color #FAFAFA */
